{% extends "base.html" %}


{% block title %}All Logs{% endblock %}


{% block style %}
	<style>
		table#log_list { width: 100%; }
		table#log_list tr,
		table#log_list tr td,
		table#log_list tr th {
			background: transparent;
			color: #666;
			font-size: 10pt;
			padding: 2 6 0 6;
			border-bottom: 1px solid #ddd;
			padding: 1px 5px 0;
		}
		table#log_list tr td.statement {
			text-align: left;
		}
		#page-nav { float: right; margin-top: 15px; }
		#page-navigation {
			margin-top: 15px;
			padding-top: 3px;
			border-top: 1px solid #ddd;
			text-align: center;
		}
		#query-form { text-align: center; margin: 10px; }
		#query-form input { color: #666; border: 1px solid #999; }
		#query-form input { background: #f0f0f0; }
		#export-this { text-align: right; }
		.current_page { color: #999; font-weight: bold; }
	</style>
{% endblock %}


{% block content %}
	<h1>All Logs</h1>
	<table id="log_list">
		<tr>
			<th>#</th>
			<th>log statement</th>
			<th>time</th>
			<th>context</th>
			<th>session id</th>
			<th>log host</th>
		</tr>
		<tr id="query-form">
			<td>:</td>
		<form method="GET" action="">
			<td><input size=30 name="q" value="{{ query }}"></td>
		</form>
			<td>:</td>
		<form method="GET" action="">
			<td><input size=10 name="c" value="{{ context }}"></td>
		</form>
			<td>:</td>
			<td>:</td>
		</tr>
		</form>
		{% for log in object_list %}
		<tr>
			<td>{{ log.serial }}</td>
			<td class="statement">{{ log.statement }}</td>
			<td>{{ log.time|date:"Y-m-d H:i:s" }}</td>
			<td>{{ log.session.context }}</td>
			<td><a href="/admin/session/{{ log.session.id }}"
					title="{{ log.session.uuid }}"
					>{{ log.session.uuid|make_list|slice:":15"|join:"" }}...</a></td>
			<td>{{ log.session.host.addr }}</td>
		</tr>
		{% endfor %}
	</table>

	<div id="page-nav">
	{% if has_previous %}<a href="?page={{ previous }}">Prev</a>{% else %}Prev{% endif %}
	|
	{% if has_next %}<a href="?page={{ next }}">Next</a>{% else %}Next{% endif %}
	</div>

	<div id="page-navigation">
	{% for p in page_range %}
		{% ifequal p page %}
	<span class="current_page">{{ p }}</span>
		{% else %}
	<a href="?q={{ query }}&c={{ context }}&page={{ p }}">{{ p }}</a>
		{% endifequal %}
	{% endfor %}
	</div>

	<div id="export-this">
	export as <a href="?q={{ query }}&c={{ context }}&format=csv">CSV</a>
	</div>

{% endblock %}
