{% extends "base.html" %}


{% block title %}All Logs{% endblock %}


{% block style %}
	<style>
	</style>
{% endblock %}


{% block content %}
<h1>User '{{ user.username }}'</h1>
<div>
	<ul>
		<li>{{ user.get_full_name }} ({{ user.username }}, {{ user.email }})</li>
		{% if user.is_active %}
		<li>Active User</li>
		{% else %}
		<li>Inactive User</li>
		{% endif %}
		{% if user.is_staff %}
		<li>Staff</li>
		{% else %}
		<li>Not a staff</li>
		{% endif %}
		<li>Last Login: {{ user.last_login|date:"Y-m-d H:i:s" }}</li>
		<li>Joined at: {{ user.date_joined|date:"Y-m-d H:i:s" }}</li>
		<li><a href="/admin/user/{{ user.id }}/delete/">Delete this user</a></li>
	</ul>
</div>

{% endblock %}
