{% extends "base.html" %}


{% block title %}Roll Management{% endblock %}


{% block style %}{% endblock %}


{% block content %}
	<h1>Webrolls</h1>
	<table class="expanded-sheet">
		<tr>
			<th>Title</th>
			<th>Link</th>
			<th>Rank</th>
			<th>Action</th>
		</tr>
		{% for r in rolls %}
		<tr>
			<form method="POST" action="{{ r.id }}/update/">
				<td><input size=40 name="title" value="{{ r.title }}" class="text"></td>
				<td><input size=50 name="link" value="{{ r.link }}" class="text"></td>
				<td class="ra">{{ r.rank }}</td>
				<td>
					<input type="submit" value="Update" class="button">
					<input type="submit" value="Delete" class="button"
					onclick="location.href='{{ r.id }}/delete/'; return false;" />
				</td>
			</form>
		</tr>
		{% endfor %}
		<tr>
			<form method="POST" action="create/">
			<td><input size=40 name="title" value="" class="text"></td>
			<td><input size=50 name="link" value="" class="text"></td>
			<td><input type=hidden name="rank" value="0"></td>
			<td><input type="submit" value="Add" class="button"></td>
			</form>
		</tr>
	</table>

	<div id="more-options">
		<div>
			export list as <a href="?format=csv">CSV</a>
		</div>
	</div>

{% endblock %}
