{% extends "base.html" %}

{% block title %}My Ongsung{% endblock %}

{% block content %}

<div id="connect_form">
<form method="post" action="connect/">
	<div>
	<label>conntect to: </label>
	<input type="text" name="addr" value="" size="40" id="id_address" />
	<input type="submit" value="open" />
	</div>
</form>
</div>

<h3>stared</h3>
{% with stared as objects %}
{% include 'wall/_bookmarks.html' %}
{% endwith %}

<h3>top 10</h3>
{% with top as objects %}
{% include 'wall/_bookmarks.html' %}
{% endwith %}

<h3>recent</h3>
{% with recent as objects %}
{% include 'wall/_bookmarks.html' %}
{% endwith %}

<iframe id="launcher" src=""
	style="border:0px solid black; width:10px; height:1px;"></iframe>

{% endblock %}


{% block script %}

function openTerminal(url) {
	if (url != '') { 
		lf = document.getElementById('launcher');
		lf.src = '{{ launch }}';
		//alert("xx" + lf.src)
	}

	document.getElementById('id_address').focus();
}

window.onload = openTerminal;

{% endblock %}
