{% extends "base.html" %}

{% block title %}My Ongsung{% endblock %}

{% block style %}
<style>
	div#connect_form select { border: 1px dotted #bbb; }
	div#connect_form form input { border: 1px dotted #bbb; }
</style>
{% endblock %}


{% block content %}

<div id="connect_form">
<form method="post" action="connect/">
	<div>$ 
	<select name=prot id="id_protocol">
		{% for p in protocol %}
		<option>{{ p.name }}</option>
		{% endfor %}
	</select>
	<input type="text" name="addr" value="" size="20" id="id_address" /> :
	<input type="text" name="port" value="" size="5" id="id_port" />
	<input type="submit" value="enter!" />
	</div>
</form>
</div>

<h3>stared</h3>
{% with stared as objects %}
{% include 'wall/_bookmarks.html' %}
{% endwith %}

<h3>top 10</h3>
{% with top as objects %}
{% include 'wall/_bookmarks.html' %}
{% endwith %}

<h3>recent</h3>
{% with recent as objects %}
{% include 'wall/_bookmarks.html' %}
{% endwith %}

<iframe id="launcher" src=""
	style="border:0px solid black; width:10px; height:1px;"></iframe>

{% endblock %}


{% block script %}

function openTerminal(url) {
	if (url != '') { 
		lf = document.getElementById('launcher');
		lf.src = '{{ launch }}';
		//alert("xx" + lf.src)
	}

	document.getElementById('id_address').focus();
}

window.onload = openTerminal;

{% endblock %}
