{% extends "base.html" %}


{% block title %}User Info{% endblock %}


{% block style %}{% endblock %}


{% block content %}
<h1>User '{{ xuser.username }}'</h1>
<div>
	<ul>
		<li>{{ xuser.last_name }}{{ xuser.first_name }}
		({{ xuser.username }}, {{ xuser.email }})</li>
		{% if xuser.is_active %}
		<li>Active User</li>
		{% else %}
		<li>Inactive User</li>
		{% endif %}
		{% if xuser.is_staff %}
		<li>Staff</li>
		{% else %}
		<li>Not a staff</li>
		{% endif %}
		<li>Last Login: {{ xuser.last_login|date:"Y-m-d H:i:s" }}</li>
		<li>Joined at: {{ xuser.date_joined|date:"Y-m-d H:i:s" }}</li>
		<li><a href="/admin/user/{{ xuser.id }}/delete/">Delete this user</a></li>
	</ul>
</div>


	<h2>Related Sessions:</h2>
	<table class="expanded-sheet">
		<tr>
			<th>time</th>
			<th>context</th>
			<th>session id</th>
			<th>log host</th>
		</tr>
		<tr id="query-form">
			<td>:</td>
		<form method="GET" action="">
			<td><input size=10 name="context" value="{{ context }}"></td>
		</form>
			<td>:</td>
			<td>:</td>
		</tr>
		</form>
		{% for session in object_list %}
		<tr>
			<td>{{ session.time|date:"Y-m-d H:i:s" }}</td>
			<td>{{ session.context }}</td>
			<td><a href="/admin/session/{{ session.id }}">{{ session.uuid }}</a></td>
			<td>{{ session.host.addr }}</td>
		</tr>
		{% endfor %}
	</table>

	<div id="nav-bar">
		<div id="nav-buttons">
			{% if has_previous %}<a href="?context={{ context }}&page={{ previous }}">Prev</a>
			{% else %}Prev{% endif %}
		|
			{% if has_next %}<a href="?context={{ context }}&page={{ next }}">Next</a>
			{% else %}Next{% endif %}
		</div>

	{% for p in page_range %}
		{% ifequal p page %}
	<span class="current_page">{{ p }}</span>
		{% else %}
	<a href="?context={{ context }}&page={{ p }}">{{ p }}</a>
		{% endifequal %}
	{% endfor %}
	</div>

	<!--div id="more-options">
	export as <a href="?context={{ context }}&format=csv">CSV</a>
	</div-->



{% endblock %}
