{% extends "base.html" %}


{% block title %}User Management{% endblock %}


{% block style %}{% endblock %}


{% block content %}
	<h1>User list</h1>
	<table class="expanded-sheet">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>mail address</th>
			<th>active</th>
			<th>staff</th>
			<th>last login</th>
			<th>joined</th>
			<th>delete</th>
		</tr>
		<tr id="query-form">
		<form method="GET" action="">
			<td><input size=10 name="id" value="{{ id }}"></td>
		</form>
		<form method="GET" action="">
			<td><input size=20 name="name" value="{{ name }}"></td>
		</form>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		</form>
		{% for u in object_list %}
		<tr>
			<form method="POST" action="{{ u.id }}/update/">
			<td>
				<!--input class='text' name="username" value="{{ u.username }}"-->
				<a href="/admin/user/{{ u.id }}">{{ u.username }}</a>
			</td>
			<td>
				<input class='text ra' size=8 name="last_name"
				value="{{ u.last_name }}"><input class='text' size=10 name="first_name"
				value="{{ u.first_name|default:"(None)" }}">
			</td>
			<td><input class='text' size=15 name="email" value="{{ u.email }}"></td>
			<td>
			{% if u.is_active %}
			<a href="{{ u.id }}/update/?active=0"><img src="/media/img/admin/icon-yes.gif"></a>
			{% else %}
			<a href="{{ u.id }}/update/?active=1"><img src="/media/img/admin/icon-no.gif"></a>
			{% endif %}
			</td>
			<td>
			{% if u.is_staff %}
			<a href="{{ u.id }}/update/?staff=0"><img src="/media/img/admin/icon-yes.gif"></a>
			{% else %}
			<a href="{{ u.id }}/update/?staff=1"><img src="/media/img/admin/icon-no.gif"></a>
			{% endif %}
			</td>
			<td>{{ u.last_login|date:"Y-m-d H:i:s" }}</td>
			<td>{{ u.date_joined|date:"Y-m-d H:i:s" }}</td>
			<td>
				<input type="submit" value="Update" class="button">
				<input type="button" value="Delete" class="button"
				onclick="location.href='{{ u.id }}/delete/'; return false;" />
			</td>
			</form>
		</tr>
		{% endfor %}
	</table>

	<div id="nav-bar">
	<div id="nav-buttons">
		{% if has_previous %}<a
			href="?id={{ id }}&name={{ name }}&page={{ previous }}">Prev</a>
		{% else %}Prev{% endif %}
		|
		{% if has_next %}<a
			href="?id={{ id }}&name={{ name }}&page={{ next }}">Next</a>
		{% else %}Next{% endif %}
	</div>

	{% for p in page_range %}
		{% ifequal p page %}
	<span class="current_page">{{ p }}</span>
		{% else %}
	<a href="?id={{ id }}&name={{ name }}&page={{ p }}">{{ p }}</a>
		{% endifequal %}
	{% endfor %}
	</div>

	<div id="more-options">
		<div>
			export list as <a href="?id={{ id }}&name={{ name }}&format=csv">CSV</a>
		</div>
	</div>

	<h2>Add New User:</h2>
	<table class="expanded-sheet">
		<tr>
			<th>login name</th>
			<th>first name</th>
			<th>last name</th>
			<th>e-mail address</th>
			<th>password</th>
			<th>confirm</th>
			<th></th>
		</tr>
		<tr>
			<form method="POST" action="{% url main.views.user_create %}">
			<td><input class="text" size=10 name="username" value=""></td>
			<td><input class="text" size=10 name="first_name" value=""></td>
			<td><input class="text" size=10 name="last_name" value=""></td>
			<td><input class="text" size=20 name="email" value=""></td>
			<td><input class="text" type="password" size=15 name="password1"></td>
			<td><input class="text" type="password" size=15 name="password2"></td>
			<td><input class="button" type="submit" value="Add"></td>
			</form>
		</tr>
	</table>
{% endblock %}
